
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 80px; 
    
  }

  .propertyItem:hover {
    transform: scale(1.02); /* Increase the size by 5% on hover */
    transition: transform 0.3s ease;
  }





  
 

  