*{
  margin:0%;
}

.page{
  margin-top: 0;
  position: relative;
  display: flex;
}

.NavBar{
  position: sticky;
  width: 100%;
  height: 11%;
}
.editproperty{
  position: relative;
  top: 11%;
  left: 0%;
  width: 100%;
}

.container{
  margin-top: 11%;
}