*{
  margin:0%;
}
.page{
  margin-top: 0;
  display: flex;
  
}
.propertyItem:hover {
  transform: scale(1.02); /* Increase the size by 5% on hover */
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.favorite {
  transition: transform 0.2s ease-in-out;
}

.favorite:hover {
  transform: scale(1.4); 
}
.gridContainer {
  padding: 7em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally and create equal left and right margins */
    max-width: 1200px; /* Adjust the maximum width as needed */
    padding: 20px; 
  }
  
.favBtn {
    margin-top: 1em;
}

.priceAddressContent {
  background-color: #c5dfd5;
}

/*Login page and register page*/

.loginForm {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: #2c2c2c;
}

.registerForm {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: #2c2c2c;
}

.input-box{
  width: 500px;
  box-sizing: border-box;
  padding: 50px;
  background-color: white;
  margin: 5px;
}

.input-box header{
    font-weight: bold;
    font-size: 23px;
    color: rgb(61, 80, 97);
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field input:focus ~ label
   {
    top: -10px;
    font-size: 13px;
  }
  .input-field input:valid ~ label
  {
   top: -10px;
   font-size: 13px;
   color: rgb(61, 80, 97);
 }
 .input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid rgb(61, 80, 97);
 }
 .submit{
    border: none;
    color: rgb(104, 113, 120);
    outline: none;
    height: 45px;
    background: #c5dfd5;
    border-radius: 5px;
    transition: .4s;
    font-size: 15px;
    font-weight: bold;
 }
 .submit:hover{
    background-color: #afddcb; 
    transform: scale(0.9);
 }
 .alternative{
    text-align: center;
    font-size:medium;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: rgb(61, 80, 97);
}

label {
  font-size: 20px;
}

