<!DOCTYPE html>
<html>
<head>
  <!-- ... other head content ... -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- ... more head content ... -->
</head>
<body>
  <!-- ... body content ... -->
</body>
</html>
